/* src/App.css */

/* Прибираємо Vite-поведінку зі стисканням та text-align:center */
#root {
  min-height: 100vh;
}

/* ---- світла тема ---- */
:root {
  color-scheme: light !important;
}

html[data-bs-theme] {
  --bs-body-bg: #fff;
  --bs-body-color: #000;
}

body {
  background-color: #fff !important;
  color: #000 !important;
}
