spring:
  application:
    name: SportAdministrationSystem-test

  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false  # у тестах Flyway не запускаємо

# (опціонально) вимкнути щось тест-специфічне, якщо потім зробиш умову в коді
telegram:
  enabled: false
